form{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #336E7B;
    margin: 20px;
    background-color: #EEEEEE;
    overflow: hidden;
}

#userId{
	margin-left: 5px;
}

.cancel{
	float: right;
}

.cancel-btn{
	margin-right: 5px;
}

.btn{
	background-color: #336E7B;
	border-color: #336E7B;
}

table{
	background-color: #ffffff;
	text-align: center;
}

table thead tr th{
	font-weight: 500;
	color: black;
}

.asterisk{
	display: inline;
	color: red;
	margin-left: 2px;
}