<div class="pos-f-t">
          <nav class="navbar">
            <img src="assets/img/logo.png">
            <h2 class="heading">HR Provisioning System</h2>
            <p class="user">Sunny Singh<fa [name]="'chevron-down'"></fa></p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <fa class="navigate-toggle hg" [name]="'align-justify'"></fa>
            </button>
          </nav>
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="p-4">
              <button type="button" class="btn btn-light">Dashboard</button>
              <button type="button" class="btn btn-light">Onboarding</button>
              <button type="button" class="btn btn-light">Offboarding</button>
              <button type="button" class="btn btn-light">Manage Approvals</button>
            </div>
          </div>
    </div>