form{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #336E7B;
    margin: 20px;
    background-color: #EEEEEE;
    overflow: hidden;
}

.cancel{
	float: right;
	margin-top: 8px;
}

.btn{
	background-color: #336E7B;
	border-color: #336E7B;
	color: white;
}

.asterisk{
	display: inline;
	color: red;
	margin-left: 2px;
}

.asterisk-input{
	display: inline;
	color: red;
	margin-left: 20px;
	float: right;
	margin-bottom: -5px;
}