<div class="pos-f-t">
          <nav class="navbar">
            <img src="assets/img/logo.png">
            <h2 class="heading">HR Provisioning System</h2>
            <div class="login"><p class="user">Sunny Singh<fa class="down-icon" [name]="'chevron-down'"></fa></p></div>
          </nav>
    </div>
    <div class="dashboard">
         <div class="first-row">
        <div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="card-heading"><h5 class="card-title">Create New</h5>
      </div>
    <hr />
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="icons-div">
    	<a routerLink="/selectEmployeeType" class="card-link"><fa [name]="'plus-circle'"></fa></a>
    <!-- <a routerLink="/locality/map" class="view-edit card-link"><fa class="edit-icon" [name]="'edit'"></fa></a>
    <a routerLink="#" class="view-edit card-link"><fa class="right-icon" [name]="'angle-double-right'"></fa></a>
    <a routerLink="#" class="view-edit card-link"><fa class="ban-icon" [name]="'ban'"></fa></a> -->
    </div>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="card-heading"><h5 class="card-title">Modify</h5>
      </div>
    <hr />
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="icons-div">
    	<a routerLink="/selectModifyType" class="card-link"><fa [name]="'plus-circle'"></fa></a>
    <!-- <a routerLink="/locality/map" class="view-edit card-link"><fa class="edit-icon" [name]="'edit'"></fa></a>
    <a routerLink="#" class="view-edit card-link"><fa class="right-icon" [name]="'angle-double-right'"></fa></a>
    <a routerLink="#" class="view-edit card-link"><fa class="ban-icon" [name]="'ban'"></fa></a> -->
    </div>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="card-heading"><h5 class="card-title">Suspend/ Cancel</h5>
      </div>
    <hr />
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="icons-div">
    	<a routerLink="/locality/map" class="card-link" data-toggle="modal" data-target="#createOnBoard"><fa [name]="'plus-circle'"></fa></a>
    <a routerLink="/locality/map" class="view-edit card-link"><fa class="edit-icon" [name]="'edit'"></fa></a>
    <a routerLink="#" class="view-edit card-link"><fa class="right-icon" [name]="'angle-double-right'"></fa></a>
    <a routerLink="#" class="view-edit card-link"><fa class="ban-icon" [name]="'ban'"></fa></a>
    </div>
  </div>
</div>
        </div>
    <div class="second-row">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="card-heading"><h5 class="card-title">Manage Approvals</h5>
      </div>
    <hr />
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="icons-div">
    	<a routerLink="/manageApprovals" class="card-link"><fa [name]="'plus-circle'"></fa></a>
    <a routerLink="/locality/map" class="view-edit card-link"><fa class="edit-icon" [name]="'edit'"></fa></a>
    <a routerLink="#" class="view-edit card-link"><fa class="right-icon" [name]="'angle-double-right'"></fa></a>
    <a routerLink="#" class="view-edit card-link"><fa class="ban-icon" [name]="'ban'"></fa></a>
    </div>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="card-heading"><h5 class="card-title">Manage User Roles</h5>
      </div>
    <hr />
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="icons-div">
    	<a routerLink="/manageUserRoles" class="card-link"><fa [name]="'plus-circle'"></fa></a>
    <a routerLink="/locality/map" class="view-edit card-link"><fa class="edit-icon" [name]="'edit'"></fa></a>
    <a routerLink="#" class="view-edit card-link"><fa class="right-icon" [name]="'angle-double-right'"></fa></a>
    <a routerLink="#" class="view-edit card-link"><fa class="ban-icon" [name]="'ban'"></fa></a>
    </div>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="card-heading"><h5 class="card-title">Manage Roles</h5>
      </div>
    <hr />
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="icons-div">
    	<a routerLink="/manageRoles" class="card-link"><fa [name]="'plus-circle'"></fa></a>
    <a routerLink="/locality/map" class="view-edit card-link"><fa class="edit-icon" [name]="'edit'"></fa></a>
    <a routerLink="#" class="view-edit card-link"><fa class="right-icon" [name]="'angle-double-right'"></fa></a>
    <a routerLink="#" class="view-edit card-link"><fa class="ban-icon" [name]="'ban'"></fa></a>
    </div>  </div>
</div>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
   <div class="card-heading"><h5 class="card-title">Dashboard</h5>
      </div>
    <hr />
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="icons-div">
    	<a routerLink="/locality/map" class="card-link"><fa [name]="'plus-circle'"></fa></a>
    <a routerLink="/locality/map" class="view-edit card-link"><fa class="edit-icon" [name]="'edit'"></fa></a>
    <a routerLink="#" class="view-edit card-link"><fa class="right-icon" [name]="'angle-double-right'"></fa></a>
    <a routerLink="#" class="view-edit card-link"><fa class="ban-icon" [name]="'ban'"></fa></a>
    </div>
  </div>
</div>
</div>     
        </div>
<router-outlet></router-outlet>
