<div class="navigate sticky-top" [ngStyle]="{'backgroundColor': getColor(), 'opacity': getOpacity()}">
            <!--<div class="home">
                <i class="fas fa-home home-icon icons"></i>
                < class="fas fa-arrow-left left-icon icons"></i>
            </div>-->
            <div class="form-options">
                <div class="home-back">
                	<a routerLink="/"><fa class="left-icons home-icon icons" data-toggle="tooltip" data-placement="right" title="Home" data-animation="true" data-delay="0" [name]="'home'"></fa></a>
                	<a href="javascript:void(0)" (click)="backClicked()"><fa class="left-icons left-icon icons" data-toggle="tooltip" data-placement="right" title="Back" data-animation="true" data-delay="0" [name]="'arrow-left'"></fa></a>
                </div>
                <div class="save-edit">
                	<fa class="save-icon icons" data-toggle="tooltip" data-placement="right" title="Save" data-animation="true" data-delay="0" [name]="'save'"></fa>
                </div>
               <!--  <fa class="edit-icon icons" [name]="'edit'"></fa> -->
            </div>
        </div>